@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6d2;
}

.card_container {
  width: 20vw;
  height: 30vh;
  position: relative;
}
.card_content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%;
  background-color: #7263ff;
  border-radius: 20px 20px 0 0;
}
.card_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}

/* img */
section .image {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  border: solid #7263ff;
  z-index: 1;
}
section .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: solid #ffffff;

}