@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6d2;
}

.card_container {
  width: 20vw;
  height: 20vw;
  position: relative;
}
.card_content::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 45%;
  background-color: #7668f5;
  border-radius: 20px 20px 0 0;
}
.card_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}

/* social media */
section .media {
  position: absolute;
  bottom: 0;
  right: 0;
}
section .media i {
  font-size: 1.5vw;
  color: #000000;
  opacity: 0.5;
  margin-top: 1vw;
  margin-right: 1vw;
}
section .media i:hover {
  opacity: 1;
}

/* img */
section .image {
  position: absolute;
  top: 10%;
  height: 45%;
  width: 45%;
  border-radius: 50%;
  border: solid #7668f5;
  z-index: 1;
}
section .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: solid #ffffff;
}

/* people porfile */
section .profile {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section span.name {
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 2vw;
}
section span.position {
  font-size: 1.5vw;
  font-weight: 400;
}
section .profile button {
  display: block;
  border: none;
  background: none;
  font-size: 1.5vw;
}
section .profile i {
  color: #ffd900;
  cursor: pointer;
  font-size: 1.5vw;
}